/* Index-Page CSS File */

@media (max-width: 900px){
  .jumbotron-fluid {
    height: 500px!important;
  }
}

.jumbotron-fluid {
  display: flex;
  align-items: center;
  background-image: url("../files/images/dock.jpg");
  background-size: cover;
  color: #FFFFFF;
  height: 750px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.mobilediv {
  color: #000000;
}

.container-fluid h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
}

.row h1 {
  color: #204156;
}

/* Read more Attributes */

#readmore {
  color: #000090!important;
  font-weight: bold!important;
}
