.jumbotron-fluid {
  display: flex;
  align-items: center;
  background-image: url("../files/images/dusklake.jpg");
  background-size: cover;
  color: #FFFFFF;
  height: 750px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.container-fluid h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  color: #FFFFFF;
}

#fuck {
  margin: 0 0 20px;
  color: #FFFFFF;
}

.row h3 {
  color: #000000;
}


#topleft {
  
}

#topright {
  
}
/* Bottom what i do stuff */
