/* Store-Page CSS File */

@media (min-width: 1024px) and (max-width: 1300px) {
  .storepics {
  	width: 90%;
  	height: 100%;
   }
}

#picblurbs {
	margin-left: 3%;
}

.storepics {
	margin-left: 10%;
	margin-right: 5%;

}

.storeblurbs {
	margin-left: 10%;
	margin-right: 5%;

}
